<p>Customer email: <%= @user.email %>,</p>

<p>from the compagny name: <%= @user.compagny%></p>

<p>Want to know : <%= @user.description %></p>


<% if product.present?%>
  <p>about: <%= product.brand_name %></p>
<% end %>
