<div class="container">
  <div class="row">
    <h1 class="col-xs-12 col-sm-12 text-center">Cladding</h1>
    <p class="col-xs-12 col-sm-12 text-center">listing of different materials</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-xs-12 col-sm-4 space-card">
      <%= render "products/card" , product: product%>
    </div>
    <% end %>
  </div>
</div>
